h1{font-family: "Raleway", sans-serif;
    font-weight: 400;
/*color:#0D2C40;*/
font-size: 30px;
letter-spacing: 1px;
background-color: #F15B31;
color:#FFFFFF;
padding:10px;
margin: 0;
}
h2{font-family: "Raleway", sans-serif;
color:#0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
text-align: center;
}
a{
    text-align: center;
   margin: 20px;
   text-decoration: none;
   color:white;
   border-bottom: 2x solid transparent;
}
    p {
        font-family: "Droid Serif", serif;
        text-align: center;
    }
    Body {text-align: center;
     text-decoration: none;
margin: 0;}

    header {
        background-color: #F15B31;
        color:#FFFFFF;
        padding:30px 20px;
    }

        nav {
            background-color:#00A6B3;
        color:#FFFFFF;
    padding: 20px;
    text-align: center;
    
}
main {
    text-align: center;
    width: 850px; 
    margin: 35px auto;
}
img {
    margin: 40px 8px;
}
footer {
    padding: 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
.copyright {
    font-family: "Raleway", sans-serif;
    float: left;
}
.message {
    font-family: "Raleway", sans-serif;
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }
.name {
    color:#F15B31;
    font-weight:700;
}
a:hover{
    color:red;
}
